* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.listItem {
  margin-top: 100px;
  display: flex;
  gap: 60px;
  justify-content: center;
  list-style-type: none;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  background-color: blue;
  color: white;
}